numpy==1.18.4
matplotlib==3.3.0
jupyter==1.0.0
Pillow==7.2.0
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.5.2
h5py==2.10.0
eventlet==0.26.1
Flask-SocketIO==4.2.1
seaborn==0.10.1
pandas==1.0.5
imageio==2.4.1
python-socketio==4.4.0
torch==1.7.1
torchvision==0.8.2
ujson==4.0.2
plotly==4.14.3
